<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
  <head>
    <title tiles:fragment="title">Messages : Login</title>
    <!-- /Simple OpenID Selector -->
    <link rel="stylesheet" th:href="@{/resources/static/css/openid.css}" />
  </head>
  <body>
    <div tiles:fragment="content">
        <form name="f" th:action="@{/login/openid}" method="post" id="openid_form">
            <input type="hidden" name="action" value="verify" />
            <fieldset>
                <legend>Sign-in or Create New Account</legend>
                <div th:if="${param.error}" class="alert alert-error">
                    
                </div>
                <div th:if="${param.logout}" class="alert alert-success">
                    You have been logged out.
                </div>

                <div id="openid_input_area">
                    <input id="openid_identifier" name="openid_identifier" type="text" value="https://www.appdirect.com/openid/id" />
                    <input id="openid_submit" type="submit" value="Sign-In"/>
                </div>
            </fieldset>
        </form>

    <script type="text/javascript" th:src="@{/resources/static/js/jquery-1.2.6.min.js}"><!-- --></script>
    <script type="text/javascript" th:src="@{/resources/static/js/openid-jquery.js}"><!-- --></script>
    <script type="text/javascript">
    $(document).ready(function() {
        openid.init('openid_identifier');
     //   openid.setDemoMode(true); Stops form submission for client javascript-only test purposes
    });
    </script>
    </div>
  </body>
</html>